.Header {
  margin-bottom: 36px;
  overflow: hidden;
}

.Header-title,
.Header-menu {
  box-sizing: border-box;
  float: left;
  margin: 0;
  width: 50%;
}

.Header-title {
  font-size: 32px;
}

.Header-menu {
  text-align: right;
}
